body {
  background: linear-gradient(109.6deg, rgb(209, 158, 246) 11.2%, rgb(93, 219, 241) 91.1%);
  font-family: 'Tiro Bangla', serif;;
}

.container {
  margin-top: 30px;
  background-color: aliceblue;
  width: 20px auto;
  border-radius: 10px;
  height: 500px;
  box-shadow: -2px -9px 100px 15px rgba(101, 58, 145, 0.4); 
}

.col-6 {
  text-align: center;
  margin-top: 50px;
  margin-right: 10px;
  width: 40%;
}

.temp {
  color: red;
  font-size:  40px;
}

.left-column img {
  margin-top: 30px;
}
.left-column h4 {
  text-align: center;
  margin-left: 20px;
  margin-top: 50px; 
}

.left-column p {
  text-align: center;
  margin-left: 20px;
}

.right-column {
  border: 3px solid pink;
  margin-bottom: 20px;
  padding-top: 20px;
  line-height: 5;
}

.weatherwidget-io {
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 10px;
  align-content: center;
  padding: 0;
  box-sizing: border-box;
  width: 1030px;
  height: 235px;
  object-fit: cover;
}



